/* show.css */

body {
    background-color: #8e9eab;
    background-image: radial-gradient(circle, #ff8a00, #e52d27, #5f72be, #00b5c0, #00b5c0);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 800px;
    width: 80%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    color: #333;
    margin-bottom: 20px;
}

.container h2 {
    color: #555;
    margin-bottom: 10px;
}

.container p {
    color: #666;
    margin-bottom: 15px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.alert-success {
    background-color: #4CAF50;
    color: white;
}

button[type=submit] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00b5c0;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type=submit]:hover {
    background-color: #5f72be;
}

button[type=submit]:active {
    background-color: #7389e3;
}
